// Settings go here

$button-color: #2185D0;
$font-family: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

// Tables
$table-padding: .75em;
$table-header-background-color: #F9FAFB;

// List
$list-highlight-color: #FFFBB5;
