@import 'base';
@import 'vendor/normalize';
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  background: #efefef;
  font-family: $font-family;
  font-size: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container--margin {
  margin-top: 50px;
}

.text--center {
  text-align: center;
}

@import 'mobile';
@import 'navigation';
@import 'button';
@import 'form';
