@import 'base';

.Children {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow: hidden;
}

.Children-sidebar {
  width: 25%;
  display: block;
  float: left;
  height: 100%;
  @media (max-width: $mobile-width) {
    & {
      width: 100%;
      float: none;
      &.Child-selected {
        display: none;
      }
    }
  }
}
.Children-search {
  padding: 10px;
  text-align: center;
  .mdi-close {
    cursor: pointer;
    transition: 50ms all;
    &:hover {
      border: 1px solid #666;
      background: #666;
      color: white;
      border-radius: 2000px;
    }
  }
}
.Children-search-input {
  margin-right: -25px;
  margin-left: -12.5px;
  padding: 10px;
  width: 90%;
}

.Children-list {
  background: #ececec;
  height: calc(100% - 62px);
  overflow-y: scroll;
}
.Children-list-item {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  &:hover, &:focus{
    background: transparentize($list-highlight-color, 0.6);
  }
  strong {
    float: right;
  }
}
.Children-list-item--highlighted {
  background: $list-highlight-color;
  cursor: default;
  &:hover, &:focus {
    background: $list-highlight-color;
  }
}

.Children-main {
  width: 75%;
  display: block;
  float: left;
  background: white;
  height: 100%;
  overflow-y: scroll;
  box-shadow: -1px 0px 5px rgba(0,0,0,.2);
  @media (max-width: $mobile-width) {
    & {
      width: 100%;
      float: none;
    }
  }
}
.ChildDetails {
  padding: 50px;
}
.Child-name {
  margin: 0;
  font-weight: 100;
  margin-bottom: 50px;
}
.Child-section {
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
  &:last-child {
    border-bottom: none;
  }
}
.Child-label {
  display: inline-block;
  width: 100px;
  color: rgba(0, 0, 0, .7);
}
.Child-value {
  display: inline-block;
  color: black;
}
