@import 'base';

.Form-section {
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
  &:last-child {
    border-bottom: none;
  }
  &:after {
    clear: both;
    overflow: hidden;
    content: " ";
    display: block;
  }
}
.Form-label {
  display: block;
  width: 20%;
  float: left;
  
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding-left: 16px;
}
.Form-value {
  display: block;
  width: 80%;
  float: left;
  color: black;
}
.Form-message {
  padding: 10px;
  &.Form-message--error {
    background: rgba(255, 0, 0, .1);
    border: 1px dashed rgba(255, 0, 0, .1);
    color: rgba(255, 0, 0, .9);
  }
}
