.Login {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;

  .Title {
    margin: 0;
    font-weight: 100;
    margin-bottom: 10px;
  }

  .Message {
    padding: 10px;
    margin-bottom: 10px;
    background: #FFFFEB;
  }
}

.Login--page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 500px;
  margin: auto;

  // Flex
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: stretch;
}

.Login-group {
  margin-bottom: 5px;
}

.Login-group input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #efefef;
  border-right: none;
  width: 100%;
}

.Login-group input:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.Login-group input:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-right: 1px solid #efefef;
}
