@import 'base';

.Person {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow: hidden;
}

.Person-main {
  width: 75%;
  display: block;
  float: left;
  background: white;
  height: 100%;
  overflow-y: scroll;
  box-shadow: -1px 0px 5px rgba(0,0,0,.2);
  @media (max-width: $mobile-width) {
    & {
      width: 100%;
      float: none;
    }
  }
}
.Person-details {
  padding: 50px;
}
.Person-name {
  margin: 0;
  font-weight: 100;
  margin-bottom: 50px;
  input {
    outline: none;
    border: none;
    font-family: $font-monospace;
  }
}
.Person-section {
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
  &:last-child {
    border-bottom: none;
  }
}
.Person-label {
  display: inline-block;
  width: 100px;
  color: rgba(0, 0, 0, .7);
}
.Person-value {
  display: inline-block;
  color: black;
}

.Person-add {
  padding: 11px;
  cursor: pointer;
  user-select: none;
  &:hover, &:focus {
    background: rgba(255, 255, 255, .1);
  }
  &:active {
    background: rgba(0, 0, 0, .05);
  }
  .mdi {
    float: right;
  }
}
